@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: #f9f9f9;

}
a{
    text-decoration: none;
}
.fixed{
    position: fixed;
    top: 0;
    width:100%;
    z-index:10;
}
.page-container {
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    min-height: 100vh; /* Ensure the container fills the viewport */
}

main {
    margin-top: 52px;
    height: 100%;
}

h1 {
    padding: 10px 20px;
    font-size: 32px;
}

/* Toolbar */
.top {
    display: flex;
    background-color: #0d0f0b;
    justify-content: center;
    color: #a4a2a2;
    padding: 5px 0;
}

.toolbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    /*position: fixed;*/
    width: 100%;
    /*top: 0;*/
}

.toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.nav-links a {
    color: #fff;
    margin-left: 15px;
    font-size: 14px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f0a500;
}

/* Content */
.content {
    flex: 1;
    padding: 100px 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section,
.footer-section p,
.footer-section a {
    color: #ccc;
    font-size: 14px;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
    border-top: 1px solid #444;
    padding-top: 10px;
}

/* Gallery */
.gallery-container {
    text-align: center;
    padding: 20px;
    /*background-color: #f9f9f9;*/
}

.gallery-container h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 10px;
    padding: 10px;
}

.gallery-item {
    overflow: hidden;
    padding: 20px;
    flex: 1;
    margin: 10px;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item p {
    margin: 20px 0;
    line-height: 1.6;
    text-align: left;
}

.gallery-item img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Profile Page */
.profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.register-page{
    display: flex;
    flex-direction: column;
}
.profile-container img{
    width: 100%;
    max-width: 200px;
}
/*.profile-header {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin-bottom: 20px;*/
/*    border-bottom: 1px solid #ddd;*/
/*    padding-bottom: 20px;*/
/*}*/

/*.profile-image img {*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    border-radius: 50%;*/
/*    border: 4px solid #333;*/
/*}*/

/*.profile-info {*/
/*    margin-left: 20px;*/
/*}*/

/*.profile-info h1 {*/
/*    font-size: 24px;*/
/*}*/

/*.profile-info p {*/
/*    font-size: 16px;*/
/*    color: #666;*/
/*    margin: 10px 0;*/
/*}*/

.edit-btn {
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #383838;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 300px;
    margin: 10px;
}

.edit-btn:hover {
    background-color: #787878;
    border-color: #383838;
}

input{
    width: 100%;
    max-width: 300px;
    padding: 10px;
    outline: none;
    margin: 10px;
    border: 2px solid #383838;

}
textarea{
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin: 10px;
}
/*.profile-content {*/
/*    margin-top: 20px;*/
/*}*/

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}


/* Responsive Design */
@media (max-width: 600px) {
    .profile-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-info {
        margin-left: 0;
        margin-top: 10px;
    }

    .profile-image img {
        width: 120px;
        height: 120px;
    }

    .container {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.j-space-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}

.d-column {
    flex-direction: column;
}

.j-space-around {
    justify-content: space-around;
}

.gap {
    gap: 20px;
}

.border {
    border: 1px solid black;
}

.f-wrap {
    flex-wrap: wrap;
}

.m-10 {
    margin: 10px;
}

.grow {
    flex: 1;
}

.grow4 {
    flex: 4;
}
.d-none{
    display: none;
}
.d-row{
   flex-direction: row;
}